/* =============================================
   Ingot custom global styles starts
   ============================================= */

/**
 * Typography styles
 */

html {
    font-size: 16px;
}

body,
input,
select,
textarea,
td,
th {
    font-family: kanit, sans-serif;
    color: #0D0D0D;
}

h1,
.is-style-heading-h1,
#SpTitleBar {
    font-family: kanit, sans-serif;
    font-size: clamp(3rem, 6vw, 4.5rem);
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.05;
    color: #0A3B7E;
}

h2,
.is-style-heading-h2 {
    font-family: kanit, sans-serif;
    font-size: clamp(3rem, 4vw, 3rem);
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.1;
    color: #0A3B7E;
}

h3,
.is-style-heading-h3 {
    font-family: kanit, sans-serif;
    font-size: clamp(2.25rem, 3vw, 2.25rem);
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 1.1;
    color: #0A3B7E;
}

h4,
.is-style-heading-h4 {
    font-family: kanit, sans-serif;
    font-size: clamp(1.75rem, 2vw, 2rem);
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1.1;
}

.is-style-heading-h5 {
    font-family: kanit, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.01em;
    line-height: 1.1;
}

.is-style-heading-h6 {
    font-family: kanit, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.01em;
    line-height: 1.1;
}

/**
 * Header styles
 */

#SpTitleBar {
    padding: 3rem 0;
}

.toolbar-out {
    background-color: #0A3B7E;
}

.toolbar-out .container,
.header-out .container,
.mainmenu-out .container {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (max-width: 1200px) {

    .toolbar-out .container,
    .header-out .container,
    .mainmenu-out .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

#itoolbar_bg {
    min-height: 3rem;
    height: auto;
    padding: 0.5rem 0;
}

#itoolbar a {
    font-size: 1rem;
    text-shadow: none;
    text-transform: none;
}

#itoolbar a:hover {
    color: #d32f2f;
}

/* Remove background image */
#sp-main::before {
    background: none;
    height: 0;
}

#sp-content {
    padding-top: 140px !important;
}

/* Remove header top margin */
#sp-main #left {
    margin-top: 0px;
}

.header-out {
    height: 100px;
    padding: 12px 0px;
    top: 3rem;
    background-color: #336699;
    border-bottom: 1px solid #0A3B7E;
}

#isearch .input-group {
    border-radius: 0.25rem;
}

.header-social {
    top: calc(50% - 15px);
    height: 30px;
}

#logo img {
    max-height: 80px;
}

#logo {
    margin-top: 0 !important;
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        margin-top: -100px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 800px;
        display: flex;
        justify-content: center;
    }

    .navbar-collapse {
        padding: 0;
    }

    .navbar-nav>li>a {
        font-size: 1.25rem;
        font-weight: 400;
        text-transform: none;
        text-shadow: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .navbar-nav {
        transform: translateX(0);
        left: auto;
        right: 0;
        width: auto;
    }

    .navbar-nav>li>a {
        font-size: 1rem;
    }

    .header-social {
        display: none;
    }
}

#sp-content #topTitleOut {
    padding-top: 4rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 0;
}

#sp-content #topTitleOut .container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}

@media (max-width: 1100px) {
    #sp-content #topTitleOut {
        padding-top: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 0;
    }
}

/* 
 * Homepage styles 
 */
#hp-main .login {
    display: none;
}

/* Hack for full width main top area */
#hp-left {
    width: 100%;
}

.hp-blocks-out {
    background-image: none;
}

/* =============================================
   End of Ingot custom global styles
   ============================================= */